.DfPostImage {
  max-width: 100%;
}
.ProfilePreviews,
.FullProfile {
  .item {
    .image {
      padding: 0 !important;
    }
    .description {
      font-size: 1rem;
    }
  }
}
.ProfilePreviews {
  &.ui.list>.item:first-child {
    padding-top: .75rem;
  }
  &.ui.list>.item:last-child {
    padding-bottom: .75rem;
  }
  .MyProfile {
    background-color: #FFF8E1;
  }
}
.ProfileDetails {
  display: flex !important;
  padding-left: 1rem !important;
  .handle {
    margin-right: 1rem;
    .button {
      padding: .5rem .75rem;
    }
  }
}
.ProfileDetailsTable {
  font-size: 1rem !important;
  tr td:first-child {
    width: 1%;
    white-space: nowrap;
  }
}

.EditEntityBox {
  width: 100%;
  max-width: 600px;

  .EditEntityForm {
    width: 100%;
  }
}

.DfCountsPreview {
  margin-top: .5rem;
  font-size: .85rem;
  .MutedText {
    margin-right: .5rem;
  }
}

.DfCommentBox {
  display: flex !important;
  align-items: start;
}
.DfVoter.vertical {
  margin-right: 1rem;
}

.DfCommentsByPost {
  .ui.comments {
    max-width: 100%;
    .comment>.content {
      margin-left: 43px;
    }
    .comment .text {
      margin-top: .5rem;
    }
  }
}
